@charset "UTF-8";

/*
akvaGrid css
author: Robert Piira, @robertpiira
url: piira.se
*/

/*

                                                                          
             _/                              _/_/_/            _/        _/ 
    _/_/_/  _/  _/  _/      _/    _/_/_/  _/        _/  _/_/        _/_/_/    
 _/    _/  _/_/    _/      _/  _/    _/  _/  _/_/  _/_/      _/  _/    _/     
_/    _/  _/  _/    _/  _/    _/    _/  _/    _/  _/        _/  _/    _/      
 _/_/_/  _/    _/    _/        _/_/_/    _/_/_/  _/        _/    _/_/_/       
                                                                                                                  

---------------------------- aquaGrid 1.0 ----------------------------- */




/*
 * Akva Style
----------------------------*/


/* general */
#akva-grid {
	position: absolute;
	width: 92%;
	max-width: 1020px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: -1;
	outline: 1px solid #7195bd;
	overflow: hidden;
}
#akva-grid ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* cols */
#akva-cols {
	position: relative;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;

}
#akva-cols li div {
	/*outline: 1px solid #7195bd;*/
	background: rgba(0, 50, 100, .2);
	margin: 0 4% -999999px;
	padding-bottom: 999999px;
}
#akva-cols li {
	opacity: 1;
	margin: 0;
	position: relative;
	z-index: 1000;
	height: 100%;
	min-height: 100%;
}

/* baseline */
#akva-baseline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#akva-baseline li {
	border-bottom: 1px dotted #7195bd;
}

/* panel */
#akva-panel {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

img,embed {
	max-width: 100%;
}
label {
	display: block;
	font-size: .75em;
}

/*
 * Grid
----------------------------*/

#akva-cols { 

	/* Table layout */
	display:table;  
	margin:0 auto; 
	
	/* Flexible box model 
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: stretch;
	-webkit-box-orient: horizontal;
	-moz-box-align: stretch;
	-moz-box-orient: horizontal;
	box-align: stretch;
	box-orient: horizontal;*/
}

#akva-cols li { 

	/* Table layout */
	display: table-cell;
	vertical-align: top;
	padding: 0; 
	
	/* Flexible box model 
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;*/
	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

#akva-cols li div {
	margin: 0;
}



