html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit; 
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* These are some messy DEMO styles. no need to poke around here all that much :-) */

body {
	color: #111;
	background: #fff;
	/*max-width: 1200px;*/
	margin: 0 auto;
	font-family: verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* typography */
p {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin: 0 0 1.5em 0;
}
h1 {
  font-size: 6.8125em; /* 109px */
  line-height: 1.1009em; /* 120px */
  margin-top: 0.2202em;
  margin-bottom: 0em;
}
h2 {
	font-size: 1.625em; /* 26px */
	line-height: 1.8462em; /* 48px */
	margin-top: 0.9231em;
	margin-bottom: 0em;
	font-weight: normal;
}
.testcol2 p {
  font-size: 0.875em; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-bottom: 1.7143em;
}

a {
	color: #5a8c00;
	text-decoration: underline;
}
a:hover,
a:focus {
	color: #396c00;
}


.testcol-parent {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.testcol {
	width: 48%;
	float: left;
	padding: 0 1.3% 0 9.3%;
}
.testcol2 {
	float: right;
	width: 23.1%;
	padding: 0 9.4% 0 0;
}
.testcol2 p {
	font-size: 14px;
}
.testcol p:first-of-type {
	font-size: 1.125em; /* 18px */
	line-height: 1.3333em; /* 24px */
	margin: 0 0 1.3333em;
}
header {
	padding: 96px 11% 24px;
}
header h1 {
	margin: 0;
	line-height: 1em;
	font-size: 56px;
	text-align: center;
}
blockquote {
	margin-bottom: 1.5em;
	text-align: center;
	font-style: italic;
	font-family: Georgia, serif;
}
p img {
	float: left;
	max-width: 46%;
	margin: 0 10% 0 0;
}
blockquote p {
	margin: 0.9231em 17.55% 0;
	font-size: 1.625em; /* 26px */
	line-height: 1.8462em; /* 48px */
}
.cite {
	text-align: right;
	font-style: normal;
	color: #666;
	margin: 0 17.7% 0 0;
	font-size: 1em; /* 16px */
	line-height: 1.3333em; /* 24px */
}
.smaller {
	font-size: 90%;
	line-height: 24px;
}
.bigger {
	font-size: 110%;
	line-height: 24px;
}
footer {
	margin: 0 9.3%;
	padding-bottom: 2.2em;
	clear: both;
	color: #888;
	font-family: 'Open Sans Condensed', arial, serif;
	font-size: .85em;
}
footer p {
	padding: 2em 0 0;
	margin-bottom: 0;
}
